<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST API testing" parallel="tests" thread-count="4">
    <test name="Critical Path Tests">
        <groups>
            <run>
                <include name="critical path"/>
            </run>
        </groups>
        <classes>
            <class name="org.tests.get.GetTests"/>
            <class name="org.tests.post.PostTests"/>
            <class name="org.tests.put.PutTests"/>
            <class name="org.tests.patch.PatchTests"/>
        </classes>
    </test>

    <!--    TBD -->
    <test name="Negative Tests">
        <groups>
            <run>
                <include name="negative"/>
            </run>
        </groups>
        <classes>
            <class name="org.tests.get.GetTests"/>
            <class name="org.tests.post.PostTests"/>
            <class name="org.tests.put.PutTests"/>
            <class name="org.tests.patch.PatchTests"/>
        </classes>
    </test>


    <!--    TBD -->
    <test name="GET Tests">
        <groups>
            <run>
                <include name="get"/>
            </run>
        </groups>
        <classes>
            <class name="org.tests.get.GetTests"/>
        </classes>
    </test>
    <test name="POST Tests">
        <groups>
            <run>
                <include name="post"/>
            </run>
        </groups>
        <classes>
            <class name="org.tests.post.PostTests"/>
        </classes>
    </test>
    <test name="PUT Tests">
        <groups>
            <run>
                <include name="put"/>
            </run>
        </groups>
        <classes>
            <class name="org.tests.put.PutTests"/>
        </classes>
    </test>
    <test name="PATCH Tests">
        <groups>
            <run>
                <include name="patch"/>
            </run>
        </groups>
        <classes>
            <class name="org.tests.patch.PatchTests"/>
        </classes>
    </test>
</suite>
